*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}
body
{

}
.side-navbar{
    width: 50%;
    height: 100vh;
    position: fixed;
    
}

.brand-icons div >p{
    display: inline;
}
.brand-icons div >img{
    width: 50px;
    height: 50px;
    display: inline;
}
.customer-exp >div{
    background-color: rgb(216, 214, 214);
    padding: 10px;
    
}
/* .most-wanted div>img{

}
.slide-img{
    
} */
.slide-images{
    height: 100%;
    transition: 2s;
}
.no-scrollbar::-webkit-scrollbar{
    display: none;
}

.img_firstpara{
    font-size: 12px;
}
.newarrival-divparent{
    display: flex;
    flex-wrap: wrap;
    ;
    
    /* justify-content: center; */
    /* align-items: center; */
    
}
.newarrival-divchild{
    margin-top: 10px;
    width: 50%;
    flex-grow: 1;
    flex-basis: 50%;
   
     
}

.newarrival-divchild >img{
    width: 90%;
    height: 80%;
}

@media screen and (min-width:1000px) {

    .newarrival-divparent{
        /* display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        
        justify-content: center;
        place-items: center; */
        margin-top: 25px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        text-align: center;
        
    }
    .newarrival-divchild >img{
        width: 70%;
        height: 70%;
        display: inline-block;
    }

}

@media screen and (max-width:1000px) {

    .newarrival-divchild >button{
       position: absolute;
       left: 50px;
       top: 150px; 
    }
}



